<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PorphyStruct.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PorphyStruct.Properties.Settings>
            <setting name="savePath" serializeAs="String">
                <value />
            </setting>
            <setting name="xAxis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lineThickness" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="defaultFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="defaultFont" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="pngWidth" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="pngHeight" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="pngRes" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="zero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="autoscaleY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minY" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="maxY" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="markerType" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="simMarkerType" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="rotateTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="titleFormat" serializeAs="String">
                <value>{0} [{1}]</value>
            </setting>
            <setting name="showBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoscaleX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportLang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="dontMark" serializeAs="String">
                <value />
            </setting>
            <setting name="com1MarkerType" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="com2MarkerType" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="singleColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color1" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="color2" serializeAs="String">
                <value>#ff0000</value>
            </setting>
            <setting name="color3" serializeAs="String">
                <value>#00ff40</value>
            </setting>
            <setting name="color4" serializeAs="String">
                <value>#0101DF</value>
            </setting>
            <setting name="color5" serializeAs="String">
                <value>#FF8000</value>
            </setting>
        </PorphyStruct.Properties.Settings>
    </userSettings>
</configuration>
