<button class="py-2 px-4 w-full inline-flex items-center rounded bg-blue hover:bg-dark-blue text-white cursor-pointer" @onclick="@OnClick">
    @if (IsBusy)
    {
        <p>...</p>
    }
    else
    {
        @ChildContent
    }
</button>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> Click { get; set; }

    [Parameter]
    public bool IsBusy { get; set; }
    
    bool clicking;
    public async Task OnClick(MouseEventArgs args)
        {
            if (clicking)
            {
                return;
            }

            try
            {
                clicking = true;
                await Click.InvokeAsync(args);
            }
            finally
            {
                clicking = false;
            }
        }

}