@inherits LayoutComponentBase

<div class="page">
    <main>
            @Body
    </main>
</div>
<small class="block text-center">J. Krumsieck, M. Bröring, <em>Chem. Eur J.</em>, <strong>2021</strong>, <em>27</em>, 11580-11588, DOI: <a class="text-info" href="https://doi.org/10.1002/chem.202101243" target="_blank">10.1002/chem.202101243</a>.</small>
<small class="block text-center">
    <a class="underline" href="https://github.com/JensKrumsieck/PorphyStruct/releases/latest">Download Windows Version</a> | 
    <a class="underline" href="https://github.com/JensKrumsieck/PorphyStruct/issues">Report Bug</a> | 
    <a class="underline" href="https://jenskrumsieck.de">Website</a> |
    Developed by <a class="underline" href="https://jenskrumsieck.de">Jens Krumsieck</a>
</small>
