@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<small class="d-block text-white text-center">J. Krumsieck, M. Bröring, <em>Chem. Eur J.</em>, <strong>2021</strong>, <em>27</em>, 11580-11588, DOI: <a class="text-info" href="https://doi.org/10.1002/chem.202101243" target="_blank">10.1002/chem.202101243</a>.</small>
