@page "/"
@using ChemSharp.Molecules.Properties
@using PorphyStruct.Core.Plot

<PageTitle>PorphyStruct - Structural Analysis of Porphyrinoids</PageTitle>
<Nav>
        <ul class="mt-4 flex h-10 items-between gap-8 md:mb-0 mb-4">
        @if (DataContext != null)
        {
            <li class="pt-2 px-4 text-white text-sm bg-dark-blue rounded">@DataContext.Filename</li>
        }
            <li class="pt-2">
                <Toggle @bind-Value=Settings.Instance.UseExtendedBasis Label="Use Extended Basis" DarkMode/>
            </li>
            <li class="relative w-36">
                <Button>
                    <svg fill="#FFF" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
                    </svg>
                    <span class="ml-2">Open File</span>
                </Button>
                <InputFile OnChange="OnFileChange" class="top-0 cursor-pointer absolute block opacity-0 pin-r pin-t w-full h-full"/>
            </li>
        </ul>
</Nav>

<div class="container mx-auto px-2">  
    @if(DataContext != null)
    {
        <RadioButtonList TValue=MacrocycleType @bind-Value=DataContext.Macrocycle.MacrocycleType/>
        <Button IsBusy=@busy Click="@OnAnalyzeClick">Analyze</Button>
        <div class="flex flex-wrap-reverse">
            <div class="w-full md:w-1/2">
                @if (DataContext.Items.Any())
                {            
                    <TabControl>
                        @foreach(var item in DataContext.Items)
                        {
                            var properties = item.Analysis.Properties;
                            <TabItem Header=@item.Analysis.AnalysisColor>
                               <PlotView Model=item.Model style="height: 30vh;"/>
                               <ul> 
                                    @foreach (var param in properties.Simulation.SimulationResult)
                                    {
                                        <li class="grid grid-cols-2 gap-4">
                                            <p class="w-auto">@param.Key @param.Value.ToString("N4") Å</p>
                                            @{
                                                var value = Math.Round(properties.Simulation.SimulationResultPercentage.First(s => s.Key == param.Key).Value, 2);
                                            }
                                            <Progress Value=@value />
                                        </li>
                                    }
                               </ul>
                            </TabItem>    
                        }
                    </TabControl>
                }
            </div>
            <div class="w-full md:w-1/2">
                <BlazorMolecule Molecule="DataContext.Macrocycle" style="height: 50vh;" />
            </div>
        </div>
    }
</div>